*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}
.dark-mode {
    background-color: black;
    color: white;
}
#mode{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-right: 1%;
    margin-top: 1%;
    float: right;
}
/* weather */
#location{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: white;
    margin-left: 1%;
} 

#temp-unit{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: white;
} 
#temp-value{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: white;
}
#climate{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: white;
}
#temp-icon{
    width: 40px;
    height: auto;

}
.upper{
    background-color: rgb(199, 25, 25);
    margin-bottom: 0;
    border: none;
    border-radius: 0;

}
.name{
    font-family: serif;
    font-size: 25px;
    font-weight: bold;
}

.backgroundimg{
    background-image: url(/burger.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    margin: 0;
}

.heading{
font-family:serif;
color: rgb(194, 37, 37);
margin-top: 17%;
}
.Search{
    width: 46%;
    margin-left: 27%;
}

/* quicksearch */
.container{
    display: grid;
}
.quick{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:maroon ;
    font-weight: bolder;
}
.h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(77, 77, 112);
    
    
}


/* card  */
#first{
    height: 300px;

}
#first:hover{
    transform: scale(1.1);
}
#second{
    height: 300px;
}
#second:hover{
    transform: scale(1.1);
}
#third{
    height: 300px;

}
#third:hover{
    transform: scale(1.1);
}
#fourth{
    height: 300px;

}
#fourth:hover{
    transform: scale(1.1);
}
#fifth{
    height: 300px;
}
#fifth:hover{
    transform: scale(1.1);
}
#sixth{
    height: 300px;
    
}
#sixth:hover{
    transform: scale(1.1);
}
.card{
    height: 230px;
}
.img1{
    height: 227px;
    width: 100%;
    box-shadow: 10px 20px 10px rgb(68, 47, 68);
    border-radius: 10%;
}
.img2{
    height: 226px;
    width: 100%;
    box-shadow:10px 20px 10px peru ;
    border-radius: 10%;
}
.img3{
    height: 228px;
    width: 100%;
    box-shadow: 10px 20px 10px rgb(58, 56, 56);
    border-radius: 10%;
}
.img4{
    height: 226px;
    width: 100%;
    box-shadow: 10px 20px 10px skyblue;
    border-radius: 10%;
}
.img5{
    height: 226px;
    width: 100%;
    box-shadow: 10px 20px 10px rgb(66, 31, 6);
    border-radius: 10%;
}
.img6{
    height: 226px;
    width: 100%;
    box-shadow: 10px 20px 10px yellowgreen;
    border-radius: 10%;
}
.details{
    box-shadow: 10px 20px 25px rgb(163, 159, 159);
    height: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: maroon;
    border-radius: 50%;
}
/* footer */
footer{
    height:170px;
    background-color:rgb(199, 25, 25);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-top: 70px;
}
.foot1{
    width:50%;
    height: 80px;
    border-right:3px solid white ;
    float: left;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.foot2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
a{
    text-decoration:none;
}
.logo{
    height: 30px;
    width: 30px;
    background-color:rgb(199, 25, 25) ;
    font-size: 17px;
    padding: 0;
    border: none;
    color: white;
}


@media screen and (max-width:1400px){
    .heading{
        margin-top: 19%;
    }
}
@media screen and (max-width:1200px){
    .heading{
        margin-top: 20%;
    }
    .backgroundimg{
        height: 550px;
    }
}
@media screen and (max-width:1000px){
    .backgroundimg{
        height: 500px;
    }
    .heading{
        font-size: 30px;
    }
}
@media screen and (max-width:800px){
    .backgroundimg{
        background-size: 100%;
        height: 320px;
    }
    .heading{
        margin-top: 15%;
    }
}
@media screen and (max-width:600px){
    .backgroundimg{
        background-size: 100%;
        height: 210px;
    }
    .heading{
        font-size:20px;
        margin-top: 15%;
    }
}
@media screen and (max-width:400px){
    .backgroundimg{
        height: 190px;
    }
    .heading{
        font-size: 15px;
    }
}
@media screen and (max-width:280px){
    .backgroundimg{
        height: 140px;
    }
    .heading{
        font-size: 12px;
    }
}